.dashboard {
  display: flex;
  flex-direction: row;
  gap: 45px;

  padding: 22px 14px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  height: 100vh;

  position: fixed;

}

.user {
  display: flex;
  flex-direction: row;
  gap: 12px;

  align-items: center;

  padding: 10px 6px;

  border-bottom: 1px solid #b5b5b5c8;
}

.profile-picture img {
  width: 50px;
  height: 50px;

  border-radius: 18px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info .name {
  font-size: 16px;
  font-weight: 500;
}

.user-info .email {
  font-size: 12px;
  font-weight: 400;

  color: #888888f7;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  border-radius: 8px;

  padding: 8px 12px;

  background-color: var(--color-ltGray);
}

.menu-search img {
  width: 20px;
  height: 20px;
}

.menu-search input {
  width: 100%;
  border: none;
  outline: none;

  font-size: 14px;
  font-weight: 400;

  font: Poppins;
  background-color: transparent;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  padding: 8px 12px;

  cursor: pointer;
  
  border-radius: 8px;

}

.menu-item.active {
  background-color: var(--color-white);

}

.menu-item:hover {
  background-color: var(--color-ltGray);
}

.menu-item img {
  width: 20px;
  height: 20px;
}

main {
  width: 100%;
  margin-left: 280px;
}


/* Loading screen */

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;

  width: calc(100% - 300px);
  height: 100vh;

  background-color: rgba(255, 255, 255, 0.815);

  z-index: 9999;
}

.loading-screen.hidden {
  display: none;
}

.loading-screen p {
  font-size: 18px;
  font-weight: 400;

  margin-top: 40px;
  padding: 20px;
}

.loader {
  border: 8px solid #ffffff;
  border-radius: 50%;
  border-top: 8px solid #F34B23;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 10px 6px;
}

.welcome p{
  font-size: 18px;
  font-weight: 500;
}

.welcome span {
  font-size: 14px;
  font-weight: 400;

  color: #888888f7;
}

.date-btns {
  display: flex;
  gap: 8px;
}

.btn-dropdown {

  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;



  padding: 8px 13px;

  font-family: 'Poppins', sans-serif;

  background-color: var(--color-white);
  border: none;
  border-radius: 6px;

  cursor: pointer;

  box-shadow: 0px 1px 2px  rgba(113, 113, 113, 0.25);
}

.btn-dropdown img {
  width: 20px;
  height: 20px;
}

.btn-dropdown span {
  font-size: 14px;
  font-weight: 400;
}


.btn-primary {
  height: max-content;
  padding: 8px 13px;

  font-family: 'Poppins', sans-serif;


  background-color: var(--color-black);
  color: var(--color-white);

  border: none;
  border-radius: 6px;

  cursor: pointer;

  box-shadow: 0px 1px 2px  rgba(113, 113, 113, 0.25);

}


.content {
  margin: 30px 0;
  padding: 10px 6px;
}

.top-charts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

/*    Sales Chart  */


.sales-chart-box {
  width: 100%;
  height: 100%;

  background-color: var(--color-white);
  border-radius: 8px;

  padding: 18px;

  box-shadow: 0px 1px 2px  rgba(113, 113, 113, 0.25);
}


.chart-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  width: 98%;

  margin-bottom: 28px;
}


.chart-title {
  font-size: 18px;
  font-weight: 400;

  padding: 8px 10px;

}


.chart-wrapper {
  width: 100%;
  height: 300px;

}


